.cardstyle{
  margin: 10px;
  background-color: #dfecf1;
}

.inner-cardstyle{
  background-color: #dfecf1;
  margin-left: 10px;
  margin-right: 10px;
}

html, body {
  height: 100%;
  margin: 0;
}

.full-height {
  height: 100%;
}

.full-width {
  width: 100%;
}