<section [ngClass]="'full-height'">
	<form [ngClass]="'full-height'" fxLayout="column" fxLayoutAlign="space-evenly streach" fxLayoutGap="1px">
		<mat-card [ngClass]="'cardstyle'"  fxLayout="row" fxLayoutAlign="space-evenly streach" fxFlex fxGrow="1">
				<mat-card [ngClass]="'inner-cardstyle-wfixed-side'" fxFlex fxGrow="1">Simple card</mat-card>
        <mat-card [ngClass]="'inner-cardstyle-wfixed-center'" fxFlex fxGrow="4">Simple card</mat-card>
        <mat-card [ngClass]="'inner-cardstyle-wfixed-side'" fxFlex fxGrow="1">Simple card</mat-card>
		</mat-card>
		<mat-card [ngClass]="'cardstyle'" fxFlex fxGrow="3">Simple card</mat-card>
	</form>
</section>