.cardstyle{
  margin: 10px;
  min-width: 650px;
  background-color: #dfecf1;
}

.inner-cardstyle-wfixed-center{
  background-color: #dfecf1;
  min-width: 400px;
  margin-left: 10px;
  margin-right: 10px;
}

.inner-cardstyle-wfixed-side{
  background-color: #dfecf1;
  min-width: 100px;
  margin-left: 10px;
  margin-right: 10px;
}

html, body {
  height: 100%;
  margin: 0;
}

.full-height {
  height: 100%;
}

.full-width {
  width: 100%;
}